<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uk.gov.dft.bluebadge.service.applicationmanagement.repository.mapper.ApplicationMapper">


    <insert id="createApplication" parameterType="ApplicationEntity">
        INSERT INTO application
        ( id,
          app_type_code, is_payment_taken, payment_reference,
          submission_datetime, existing_badge_no, party_code,
          contact_name, contact_building_street, contact_line2,
          contact_town_city, contact_postcode, primary_phone_no,
          secondary_phone_no, contact_email_address, holder_name,
          org_is_charity, org_charity_no, no_of_badges,
          nino, dob, gender_code,
          holder_name_at_birth, eligibility_code, eligibility_conditions,
          benefit_is_indefinite, benefit_expiry_date, walk_other_desc,
          walk_length_code, walk_speed_code, arms_driving_freq,
          arms_is_adapted_vehicle, arms_adapted_veh_desc, blind_registered_at_la_code,
          local_authority_code, bulky_equipment_other_desc, application_status
        )
        VALUES
        ( #{id,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler},
          #{appTypeCode}, #{isPaymentTaken}, #{paymentReference},
          #{submissionDatetime}, #{existingBadgeNo}, #{partyCode},
          #{contactName}, #{contactBuildingStreet}, #{contactLine2},
          #{contactTownCity}, #{contactPostcode}, #{primaryPhoneNo},
          #{secondaryPhoneNo}, #{contactEmailAddress}, #{holderName},
          #{orgIsCharity}, #{orgCharityNo}, #{noOfBadges},
          #{nino}, #{dob}, #{genderCode},
          #{holderNameAtBirth}, #{eligibilityCode}, #{eligibilityConditions},
          #{benefitIsIndefinite}, #{benefitExpiryDate}, #{walkOtherDesc},
          #{walkLengthCode}, #{walkSpeedCode}, #{armsDrivingFreq},
          #{armsIsAdaptedVehicle}, #{armsAdaptedVehDesc}, #{blindRegisteredAtLaCode},
          #{localAuthorityCode}, #{bulkyEquipmentOtherDesc}, #{applicationStatus}
        )
    </insert>

    <insert id="createBulkyEquipment" parameterType="java.util.List">
        INSERT INTO app_bulky_equipment_type
        ( application_id
        , bulky_equipment_type_code
        )
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
            #{element.applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
            , #{element.typeCode}
        </foreach>
    </insert>

    <insert id="createHealthcareProfessionals" parameterType="java.util.List">
      INSERT INTO app_healthcare_professional
        ( application_id
          , prof_name, prof_location
        )
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
          #{element.applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
          , #{element.profName}, #{element.profLocation}
        </foreach>
    </insert>

    <insert id="createMedications" parameterType="java.util.List">
        INSERT INTO app_medication
        ( application_id
        , med_name, med_is_prescribed, med_quantity
        , med_frequency
        )
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
            #{element.applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
            , #{element.name}, #{element.isPrescribed}, #{element.quantity}
            , #{element.frequency}
        </foreach>
    </insert>

    <insert id="createTreatments" parameterType="java.util.List">
        INSERT INTO app_treatment
        ( application_id
        , treatment_description, treatment_time
        )
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
            #{element.applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
            , #{element.description}, #{element.time}
        </foreach>
    </insert>

    <insert id="createVehicles" parameterType="java.util.List">
        INSERT INTO app_vehicle
        ( application_id
        , registration_no, type_code, usage_frequency
        )
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
            #{element.applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
            , #{element.registrationNumber}, #{element.typeCode}, #{element.usageFrequency}
        </foreach>
    </insert>

    <insert id="createWalkingAids" parameterType="java.util.List">
        INSERT INTO app_walking_aid
        ( application_id
        , aid_how_provided_code, aid_description, aid_usage
        )
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
            #{element.applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
            , #{element.howProvidedCode}, #{element.description}, #{element.usage}
        </foreach>
    </insert>

    <insert id="createWalkingDifficultyTypes" parameterType="java.util.List">
        INSERT INTO app_walking_type
        ( application_id
        , walking_type_code
        )
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
            #{element.applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
            , #{element.typeCode}
        </foreach>
    </insert>

    <insert id="createArtifacts" parameterType="java.util.List">
        INSERT INTO app_artifact
        ( application_id
        , artifact_type
        , link
        )
        VALUES
        <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
            #{element.applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
            , #{element.type}
            , #{element.link}
        </foreach>
    </insert>

    <resultMap id="applicationSummaryMap" type="ApplicationSummaryEntity">
        <result property="applicationId"  column="id"
                typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result property="partyTypeCode" column="party_code" />
        <result property="applicationTypeCode" column="app_type_code" />
        <result property="nino" column="nino" />
        <result property="holderName" column="holder_name" />
        <result property="submissionDate" column="submission_datetime" />
        <result property="eligibilityCode" column="eligibility_code" />
        <result property="postcode" column="contact_postcode" />
        <result column="application_status" property="applicationStatus" />

    </resultMap>

    <select id="findApplications" resultMap="applicationSummaryMap" parameterType="FindApplicationQueryParams">
        SELECT
          a.id, a.party_code, a.app_type_code
          , a.nino, a.holder_name, a.submission_datetime
          , a.eligibility_code, a.contact_postcode
          , a.application_status
        FROM application a
        WHERE
        -- Authority code always required.
          a.local_authority_code = #{authorityCode}
        <if test="name != null">
            AND UPPER(a.holder_name) LIKE CONCAT('%', UPPER(#{name}), '%')
        </if>
        <if test="submissionFrom != null">
            AND a.submission_datetime &gt;= #{submissionFrom}
        </if>
        <if test="submissionTo != null">
            AND a.submission_datetime &lt;= #{submissionTo}
        </if>
        <if test="applicationTypeCode != null">
            AND a.app_type_code = #{applicationTypeCode}
        </if>
        <if test="postcode != null">
            AND a.contact_postcode = REPLACE(UPPER(#{postcode}), ' ', '')
        </if>
        <if test="deleted != null">
            AND a.is_deleted = #{deleted}
        </if>

        ORDER BY submission_datetime DESC
    </select>

    <resultMap id="retrieveApplicationMap" type="ApplicationEntity">
        <id property="id"  column="id"
                typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="local_authority_code" property="localAuthorityCode" />
        <result column="transfer_la_from_code" property="transferLAFromCode" />
        <result column="transfer_la_datetime" property="transferLADatetime" />
        <result column="app_type_code" property="appTypeCode" />
        <result column="is_payment_taken" property="isPaymentTaken" />
        <result column="payment_reference" property="paymentReference" />
        <result column="submission_datetime" property="submissionDatetime" />
        <result column="existing_badge_no" property="existingBadgeNo" />
        <result column="party_code" property="partyCode" />
        <result column="contact_name" property="contactName" />
        <result column="contact_building_street" property="contactBuildingStreet" />
        <result column="contact_line2" property="contactLine2" />
        <result column="contact_town_city" property="contactTownCity" />
        <result column="contact_postcode" property="contactPostcode" />
        <result column="primary_phone_no" property="primaryPhoneNo" />
        <result column="secondary_phone_no" property="secondaryPhoneNo" />
        <result column="contact_email_address" property="contactEmailAddress" />
        <result column="holder_name" property="holderName" />
        <result column="org_is_charity" property="orgIsCharity" />
        <result column="org_charity_no" property="orgCharityNo" />
        <result column="no_of_badges" property="noOfBadges" />
        <result column="nino" property="nino" />
        <result column="dob" property="dob" />
        <result column="gender_code" property="genderCode" />
        <result column="holder_name_at_birth" property="holderNameAtBirth" />
        <result column="eligibility_code" property="eligibilityCode" />
        <result column="eligibility_conditions" property="eligibilityConditions" />
        <result column="benefit_is_indefinite" property="benefitIsIndefinite" />
        <result column="benefit_expiry_date" property="benefitExpiryDate" />
        <result column="walk_other_desc" property="walkOtherDesc" />
        <result column="walk_length_code" property="walkLengthCode" />
        <result column="walk_speed_code" property="walkSpeedCode" />
        <result column="arms_driving_freq" property="armsDrivingFreq" />
        <result column="arms_is_adapted_vehicle" property="armsIsAdaptedVehicle" />
        <result column="arms_adapted_veh_desc" property="armsAdaptedVehDesc" />
        <result column="blind_registered_at_la_code" property="blindRegisteredAtLaCode" />
        <result column="bulky_equipment_other_desc" property="bulkyEquipmentOtherDesc" />
        <result column="is_deleted" property="isDeleted" />
        <result column="deleted_timestamp" property="deletedTimestamp" />
        <result column="application_status" property="applicationStatus" />
        <collection property="healthcareProfessionals" ofType="HealthcareProfessionalEntity"
                    select="retrieveHealthcareProfessional" column="string_id"/>
        <collection property="medications" ofType="MedicationEntity"
                     select="retrieveMedication" column="string_id"/>
        <collection property="treatments" ofType="TreatmentEntity"
                    select="retrieveTreatment" column="string_id"/>
        <collection property="vehicles" ofType="VehicleEntity"
                    select="retrieveVehicle" column="string_id"/>
        <collection property="walkingAids" ofType="WalkingAidEntity"
                    select="retrieveWalkingAid" column="string_id"/>
        <collection property="walkingDifficultyTypes" ofType="WalkingDifficultyTypeEntity"
                    select="retrieveWalkingDifficultyType" column="string_id"/>
        <collection property="bulkyEquipment" ofType="BulkyEquipmentTypeEntity"
                    select="retrieveBulkyEquipmentType" column="string_id"/>
        <collection property="artifacts" ofType="ArtifactEntity"
                    select="retrieveArtifacts" column="string_id"/>
    </resultMap>

    <select id="retrieveApplication" resultMap="retrieveApplicationMap" parameterType="RetrieveApplicationQueryParams">
        SELECT a.id
        , a.id::VARCHAR string_id
        , a.local_authority_code
        , a.transfer_la_from_code
        , a.transfer_la_datetime
        , a.app_type_code
        , a.is_payment_taken
        , a.payment_reference
        , a.submission_datetime
        , a.existing_badge_no
        , a.party_code
        , a.contact_name
        , a.contact_building_street
        , a.contact_line2
        , a.contact_town_city
        , a.contact_postcode
        , a.primary_phone_no
        , a.secondary_phone_no
        , a.contact_email_address
        , a.holder_name
        , a.org_is_charity
        , a.org_charity_no
        , a.no_of_badges
        , a.nino
        , a.dob
        , a.gender_code
        , a.holder_name_at_birth
        , a.eligibility_code
        , a.eligibility_conditions
        , a.benefit_is_indefinite
        , a.benefit_expiry_date
        , a.walk_other_desc
        , a.walk_length_code
        , a.walk_speed_code
        , a.arms_driving_freq
        , a.arms_is_adapted_vehicle
        , a.arms_adapted_veh_desc
        , a.blind_registered_at_la_code
        , a.bulky_equipment_type_code
        , a.bulky_equipment_other_desc
        , a.is_deleted
        , a.deleted_timestamp
        , a.application_status
        FROM application a
        WHERE a.id = #{uuid,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
        AND a.is_deleted = #{deleted}
    </select>

    <resultMap id="retrieveBulkyEquipmentTypeMap" type="BulkyEquipmentTypeEntity">
        <result property="applicationId"  column="application_id"
                typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="bulky_equipment_type_code" property="typeCode" />
    </resultMap>

    <select id="retrieveBulkyEquipmentType" resultType="BulkyEquipmentTypeEntity"
            resultMap="retrieveBulkyEquipmentTypeMap">
        SELECT
        be.application_id
        , be.bulky_equipment_type_code
        FROM app_bulky_equipment_type be
        WHERE be.application_id::VARCHAR = #{id}
    </select>

    <resultMap id="retrieveWalkingDifficultyTypeMap" type="WalkingDifficultyTypeEntity">
        <result property="applicationId"  column="application_id"
            typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="walking_type_code" property="typeCode" />
    </resultMap>
    <select id="retrieveWalkingDifficultyType" resultType="WalkingDifficultyTypeEntity" resultMap="retrieveWalkingDifficultyTypeMap">
        SELECT
          wt.application_id
        , wt.walking_type_code
        FROM app_walking_type wt
        WHERE wt.application_id::VARCHAR = #{id}
    </select>

    <resultMap id="walkingAidMap" type="WalkingAidEntity">
        <result property="applicationId"  column="application_id"
            typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="aid_how_provided_code" property="howProvidedCode" />
        <result column="aid_description" property="description" />
        <result column="aid_usage" property="usage" />
    </resultMap>
    <select id="retrieveWalkingAid" resultType="WalkingAidEntity" resultMap="walkingAidMap">
        SELECT
          aid.application_id
        , aid.aid_how_provided_code
        , aid.aid_description
        , aid.aid_usage
        FROM app_walking_aid aid
        WHERE aid.application_id::VARCHAR = #{id}
    </select>

    <resultMap id="vehicleMap" type="VehicleEntity">
        <result property="applicationId"  column="application_id"
                typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="registration_no" property="registrationNumber" />
        <result column="type_code" property="typeCode" />
        <result column="usage_frequency" property="usageFrequency" />
    </resultMap>
    <select id="retrieveVehicle" resultType="VehicleEntity" resultMap="vehicleMap">
        SELECT
          v.application_id
        , v.registration_no
        , v.type_code
        , v.usage_frequency
        FROM app_vehicle v
        WHERE v.application_id::VARCHAR = #{id}
    </select>

    <resultMap id="treatmentMap" type="TreatmentEntity">
        <result property="applicationId"  column="application_id"
            typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="treatment_time" property="time" />
        <result column="treatment_description" property="description" />
    </resultMap>
    <select id="retrieveTreatment" resultType="TreatmentEntity" resultMap="treatmentMap">
        SELECT
          t.application_id AS application_id
        , t.treatment_description
        , t.treatment_time
        FROM app_treatment t
        WHERE t.application_id::VARCHAR = #{id}
    </select>

    <resultMap id="healthcareProfessionalMap" type="HealthcareProfessionalEntity">
        <result property="applicationId"  column="application_id"
                typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="prof_name" property="profName" />
        <result column="prof_location" property="profLocation" />
    </resultMap>
    <select id="retrieveHealthcareProfessional" resultType="HealthcareProfessionalEntity" resultMap="healthcareProfessionalMap">
        SELECT
          hp.application_id
        , hp.prof_name
        , hp.prof_location
        FROM app_healthcare_professional hp
        WHERE hp.application_id::VARCHAR = #{id}
    </select>

    <resultMap id="medicationsMap" type="MedicationEntity">
        <result property="applicationId"  column="application_id"
            typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="med_name" property="name" />
        <result column="med_is_prescribed" property="isPrescribed" />
        <result column="med_quantity" property="quantity" />
        <result column="med_frequency" property="frequency" />
    </resultMap>
    <select id="retrieveMedication"  resultType="MedicationEntity" resultMap="medicationsMap">
        SELECT
          med.application_id
        , med.med_name
        , med.med_is_prescribed
        , med.med_quantity
        , med.med_frequency
        FROM app_medication med
        WHERE med.application_id::VARCHAR = #{id}
    </select>

    <resultMap id="retrieveArtifactsMap" type="ArtifactEntity">
        <result property="applicationId"  column="application_id"
                typeHandler="uk.gov.dft.bluebadge.common.repository.UuidTypeHandler"/>
        <result column="artifact_type" property="type" />
        <result column="link" property="link" />
    </resultMap>
    <select id="retrieveArtifacts" resultType="ArtifactEntity" resultMap="retrieveArtifactsMap">
        SELECT
          art.application_id
        , art.artifact_type
        , art.link
        FROM app_artifact art
        WHERE art.application_id::VARCHAR = #{id}
    </select>


    <delete id="deleteHealthcareProfessionals" parameterType="String">
      DELETE FROM app_healthcare_professional WHERE application_id::VARCHAR=#{uuid}
    </delete>

    <delete id="deleteMedications" parameterType="String">
        DELETE FROM app_medication WHERE application_id::VARCHAR=#{uuid}
    </delete>

    <delete id="deleteTreatments" parameterType="String">
        DELETE FROM app_treatment WHERE application_id::VARCHAR=#{uuid}
    </delete>

    <delete id="deleteVehicles" parameterType="String">
      	DELETE FROM app_vehicle WHERE application_id::VARCHAR=#{uuid}
    </delete>

    <delete id="deleteWalkingAids" parameterType="String">
     	DELETE FROM app_walking_aid WHERE application_id::VARCHAR=#{uuid}
    </delete>

    <delete id="deleteWalkingDifficultyTypes" parameterType="String">
     	DELETE FROM app_walking_type WHERE application_id::VARCHAR=#{uuid}
    </delete>

    <delete id="deleteBulkyEquipmentTypes" parameterType="String">
        DELETE FROM app_bulky_equipment_type WHERE application_id::VARCHAR=#{uuid}
    </delete>


    <delete id="deleteArtifacts" parameterType="String">
     	DELETE FROM app_artifact WHERE application_id::VARCHAR=#{uuid}
    </delete>

    <update id="updateToDeleteApplication" parameterType="RetrieveApplicationQueryParams">
        UPDATE application
        SET existing_badge_no = null,
          	contact_name = null,
          	contact_building_street = 'DELETED',
          	contact_line2 = null,
          	contact_town_city = 'DELETED',
          	contact_postcode = 'DELETED',
          	primary_phone_no = 'DELETED',
          	secondary_phone_no = null,
          	contact_email_address = null,
          	holder_name = 'DELETED',
          	org_is_charity = null,
          	org_charity_no = null,
          	no_of_badges = null,
          	nino = null,
          	dob = null,
          	gender_code = null,
          	holder_name_at_birth = null,
          	eligibility_conditions = null,
          	benefit_is_indefinite = null,
          	benefit_expiry_date = null,
          	walk_other_desc = null,
          	walk_length_code = null,
          	walk_speed_code = null,
          	arms_driving_freq = null,
          	arms_is_adapted_vehicle = null,
          	arms_adapted_veh_desc = null,
          	blind_registered_at_la_code = null,
          	bulky_equipment_type_code = null,
            bulky_equipment_other_desc = null,
          	is_deleted = true,
          	deleted_timestamp = current_timestamp
        WHERE id = #{uuid,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
        AND is_deleted = #{deleted}
    </update>

    <update id="updateApplication" parameterType="uk.gov.dft.bluebadge.model.applicationmanagement.generated.ApplicationUpdate">
        UPDATE application
        SET application_status = #{applicationStatus}
        WHERE id = #{applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
    </update>

    <update id="transferApplication" parameterType="TransferApplicationParams">
        UPDATE application
        SET transfer_la_from_code = #{transferFromLaShortCode},
            local_authority_code = #{transferToLaShortCode},
          	transfer_la_datetime = current_timestamp
        WHERE id = #{applicationId,javaType=java.util.UUID,jdbcType=OTHER,typeHandler=uk.gov.dft.bluebadge.common.repository.UuidTypeHandler}
    </update>

</mapper>
